body {
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    height: 190px;
    width: 100%;
}
.navbar {
    font-family: Helvetica;
    display: flex;
    border: 1px solid red;
    width: 93.3%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.33%;
}
.menu {
    justify-content: space-between ;
    position: relative;;
    border: 1px solid red;
    color: #666567;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 14px;
    height: 17px;
    width: 28%;
    align-items: center;
    margin-left: 2.18%;
}
.imagesmenu {
    color: #00BCBD;
    cursor: pointer;
}
.objectmenu:hover {
    color: #262626;
    cursor: pointer;
}
.videomenu:hover {
    color: #262626;
    cursor: pointer;
}
.audiomenu:hover {
    color: #262626;
    cursor: pointer;
}
.menuicon_active {
    margin-bottom: 2px;
    display: inline-block;
    margin-left: 0,35%;
}
.menuicon_deactive {
    margin-bottom: 2px;
    display: inline-block;
    margin-left: 0,35%;
}

.menuoption {
    justify-content: space-between;
    position: relative;
    border: 1px solid red;
    color: #666567;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    height: 35px;
    width: 41%;
    align-items: center;
    margin-left: auto;
}
/* .supportmenu {
    margin-right: 12px;
} */
.supportmenu:hover {
    color: #262626;
    cursor: pointer;
}
.pricingmenu {
    margin-left: 1.67%;
}
.pricingmenu:hover {
    color: #262626;
    cursor: pointer;
}
.langmenu {
    margin-left: 1.67%;
}
.langmenu:hover {
    color: #262626;
    cursor: pointer;
}
.contributormenu {
    margin-left: 1.67%;
}
.contributormenu {
    font-weight: bold;
    color: #44D7B6
}
.contributormenu:hover {
    cursor: pointer;
}
.buttonlogin {
    background-color: #EFF0F4;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;    
    color: #666567;
    font-family: Helvetica;
    font-weight: 500;
    width: 84px;
    height: 35px;
    margin-left: 12px;
    padding: 6px;
}
.buttonlogin:hover {
    background-color: #00BCBD;
    color: white;
}
.buttonsignup {
    background-color: #00BCBD;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;    
    color: white;
    font-family: Helvetica;
    font-weight: 500;
    width: 84px;
    height: 35px;
    padding: 6px;
}
.buttonsignup:hover {
    background-color: rgb(1, 134, 134);
    color: white;
}

.searchbar {
    margin-left: 3.29%;
    border: 1px solid red;
    position: relative;
    width: 93.33%;
    height: 60px ;
    display: flex;
    background: white;
}

.searchline {
    border: 1.5px solid #979797;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    margin-left: 0px;
}

.searchbar .icon {
    box-shadow: none;
    margin-top: 1%;
    position: absolute;
    margin-left: 1.5%;
}
.searchbar .input {
    margin-top: 4px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 24px;
    padding-left: 78px;
    box-sizing: border-box;
    width: 84%;
    height: 50px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 16px;
    color: #AAAAAA;
}

.filterbox {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: none;
    border-left: 1.5px solid #979797;
    width: 13.33%;
    height: 100%;
    margin-left: 86.5%;
    color: #666567;
}
.filtergroup {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 18px;
}
.images_icon {
    display: flex;
    margin-top: 5%;
    box-shadow: none;
    align-items: center;
    margin-left: 10%;
}

.imagestype {
    font-family: Helvetica;
    margin-left: 3%;
}

.typebottom {
    padding: 11px;
    transform: rotate(180deg);
    margin-top: 2.3%;
}

.suggestcontainer {
    font-size: 16px;
    font-family: Helvetica;
    /* border: 1px solid red; */
    display: flex;
    margin-left: 3.33%;
    margin-top: 18px;
    width: 40.56%;
    height: 19px;
}
.suggested {
    font-weight: 500;
    position: absolute;
    display: flex;
    color: #666567;
}
.tagsuggest {
    cursor: pointer;
    display: flex;
    margin-left: 85px;
    position: absolute;
    color: #00BCBD;
    font-weight: 540;
}

/* .selecttype {
    flex-direction: column;
    display: flex;
    margin-top: 3px;
    height: 290px;
    width: 185px;
    margin-left: 1214px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.2);;
}
.typeallimages {
    display: flex;
    margin-top: 24px;
    margin-left: 32px;
    color: #00BCBD;
    font-size: 16px;
}
.typephoto {
    display: flex;
    margin-top: 24px;
    margin-left: 50px;
    color: #262626;
    font-size: 16px;
}
.typevector {
    display: flex;
    margin-top: 24px;
    margin-left: 50px;
    color: #262626;
    font-size: 16px;
}
.typeobject {
    display: flex;
    margin-top: 24px;
    margin-left: 32px;
    color: #262626;
    font-size: 16px;
}
.typevideo {
    display: flex;
    margin-top: 24px;
    margin-left: 32px;
    color: #262626;
    font-size: 16px;
}
.typeaudio {
    display: flex;
    margin-top: 24px;
    margin-left: 32px;
    color: #262626;
    font-size: 16px;
} */

.hero {
    display: flex;
    position: relative;
    border: 1px solid red;
    width: 93.33%;
    height: 511px;
    margin-left: 3.33%;
    margin-top: 35px;
}
.prev, .next {
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 16px;
    margin-top: -22px;
    color: rgba(255, 255, 255, 0.651);
    font-weight: bold;
    font-size: 50px;
}
.prev {
    border-radius: 0 10px 10px 0;
}
.next {
    right: 0px;
}
.prev:hover, .next:hover {
    color: white;
    background-color: rgba(0,0,0,0.35);
}
.banner1 {
    background-color: #00BCBD;
    background-image: url(assets/banner1.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    width: 1043px;
    height: 485px;
}
.banner2 {
    background-color: #00BCBD;
    background-image: url(assets/banner2.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    width: 288px;
    height: 485px;
    margin-left: .83%;
}
.slidebutton {
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 496px;
    display: flex;
    border: 1px solid red;
    width: 104px;
    height: 13px;
    position: absolute;
}
.dotactive {
    width: 40px;
    height: 10px;
    background-color:#00BCBD;
    border-radius: 10px;
    margin-left: 0px;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: #D3D5DC;
    border-radius: 10px;
    margin-left: .42%;
}

.containerEP {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin-left: 3.33%;
    margin-top: 101px;
    width: 93.33%;
    height: 351px;
}
.judul {
    display: flex;
    font-size: 40px;
    font-family: Helvetica;
    font-weight: bold;
}
.EPgroup {
    position: relative;
    border: 1px solid red;
    display: flex;
    width: 100%;
    margin-top: 30px;
}
.ep1 {
    background-color: #00BCBD;
    background-image: url(assets/ep1.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 564px;
    height: 273px;  
}
.ep2 {
    background-color: #00BCBD;
    background-image: url(assets/ep2.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    width: 564px;
    height: 273px;
    margin-left: .83%;
}
.ep3 {
    background-color: #00BCBD;
    background-image: url(assets/ep3.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    width: 192px;
    height: 273px;
    margin-left: .83%;
}

.containerLiked {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin-left: 3.33%;
    margin-top: 101px;
    width: 93.47%;
    height: 612px;
}
.judulLiked {
    display: flex;
    font-size: 40px;
    font-family: Helvetica;
    font-weight: bold;
}
.likedgroup {
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid red;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.liked1 {
    background-color: #00BCBD;
    background-image: url(assets/ep2.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 441px;
    height: 255px;  
}
.liked2 {
    background-color: #00BCBD;
    background-image: url(assets/ep2.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    width: 441px;
    height: 255px;  
    margin-left: .83%;
}
.liked3 {
    background-color: #00BCBD;
    background-image: url(assets/ep2.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    width: 441px;
    height: 255px;  
    margin-left: .83%;
}
.liked4 {
    background-color: #00BCBD;
    background-image: url(assets/ep2.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    width: 441px;
    height: 255px;  
}
.liked5{
    background-color: #00BCBD;
    background-image: url(assets/ep2.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    width: 441px;
    height: 255px;  
    margin-left: .83%; 
}
.liked6 {
    background-color: #00BCBD;
    background-image: url(assets/ep2.png);
    background-size: cover;
    border-radius: 5px;
    display: flex;
    width: 441px;
    height: 255px;  
    margin-left: .83%;
}
.fav_deactive {
    position: absolute;
    margin-top: 1%;
    margin-left: 30%;
}
.fav_deactive:hover {
    background-image: url(assets/liked_icon_act.svg);
}
.fav_active {
    display: none;
}